{{.CopyRight}}

package {{.serviceName}}

import (
    {{.FileGoPackageName}} "{{.FileGoPackagePath}}"
)


type {{.handlerName}} struct{

}

func New{{.HandlerName}}(){{.FileGoPackageName}}.{{.HandlerName}}{
    return &{{.handlerName}} {
    }
}