{{.CopyRight}}

package {{.serviceName}}

import (
    "context"
   {{.FileGoPackageName}} "{{.FileGoPackagePath}}"
)

func (t *{{.handlerName}}){{.MethodName}}(ctx context.Context,in *{{.InTypeName}},out *{{.OutTypeName}}) error {
    // TODO 在这里实现你的代码
    return nil
}


