inspect {{.File.GetName}}
=================================
{{showJSON .File 2}}

## List Message
{{range .File.MessageType}}
    {{- "-"}} message: {{.Name}}
    {{range .Field}}
        {{- "-"}} field: {{.Name}}  {{showJSON . 0}}
        {{.Number}} {{toString .Label}} {{toString .Type}} {{.JsonName}}
    {{end}}
{{end}}

